.PaginaInteira {

    display: grid;
    grid-template-columns: 150px 250px 1fr;
    background: var(--corDeFundoPrincipal);
    color: white;
    font-family: var(--fontePrincipal);

}

.esconder {

    display: none !important;

}

.temporario {

    color: yellow !important;

}

.funcional {

    opacity: 1 !important;

}