/*  importacoes de fontes */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* _______________________________________________________________________________________ */

:root {
    
    /* cores */

    --corDeFundoPrincipal:  #000000;
    --corDeFundoSecundaria: #101214;
    --corDeFundoTerciaria: #2a2d30;
    
   


    /* fontes */
   
   --fontePrincipal: "Inter", sans-serif;
   
}







