.telaPrincipal__tarefas {

    background: var(--corDeFundoSecundaria);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 40px;

}

.telaPrincipal__tarefas__categoria__topo {

    display: flex;
    flex-direction: column;

}

.telaPrincipal__tarefas__continer__topo {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.telaPrincipal__tarefas__categoria__titulo {

    font-size: 14px;

}

.telaPrincipal__tarefas__categoria__titulo__texto {

    font-size: 15px;

}

.telaPrincipal__tarefas__categoria__img {

    width: 25px;
    margin: 0px 0px 0px 0px;
    opacity: 0.2;

}

.telaPrincipal__tarefas__categoria__img:hover {

    opacity: 1;

}

.telaPrincipal__tarefas__categoria__botaoAdicionar {

    background: var(--corDeFundoTerciaria);
    border: none;
    border-radius: 5px;
    color: white;
    height: 35px;
    font-size: 25px;
    margin: 10px 0px 8px 0px;

}

.telaPrincipal__tarefas__categoria__cards {

    margin: 0px 0px 8px 0px;

}

.telaPrincipal__tarefas__categoria__cards__continer {

    background: var(--corDeFundoTerciaria);
    border-radius: 5px;
    padding: 10px;

}

.telaPrincipal__tarefas__categoria__cards__continer__topo {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.telaPrincipal__tarefas__categoria__cards__continer__topo__topicos {

    display: flex;
    gap: 5px;

}

.telaPrincipal__tarefas__categoria__cards__continer__topo__topicos__topic {

    border-radius: 30px;
    padding: 8px;
    font-size: 12px;
    font-weight: bolder;
    margin: 0px 0px 15px 0px;

}

.telaPrincipal__tarefas__categoria__cards__continer__topo__topicos__img {

    width: 25px;
    margin: 0px 0px 0px 0px;
    position: relative;
    left: 10px;

}

.topicoAmarelo {

    background: #e9ff90;
    color: black;

}

.topicoLaranja {

    background: #ffc690;
    color: black;

}

.topicoAzul {

    background: #90d6ff;
    color: black;

}

.topicoVerde {

    background: #90ffad;
    color: black;

}

.topicoRoxo {

    background: #d190ff;
    color: black;

}

.topicoMarrom {

    background: #d6a190;
    color: black;
    
}

.telaPrincipal__tarefas__categoria__cards__continer__titulo {

    font-size: 15px;
    margin: 0px 0px 5px 0px;

}

.telaPrincipal__tarefas__categoria__cards__continer__resumo {

    font-size: 13px;
    color: gray;
    margin: 0px 0px 15px 0px;

}

.telaPrincipal__tarefas__categoria__cards__continer__checkin {

    color: gray;
    font-size: 13px;
    margin: 0px 0px 15px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
   

}

.telaPrincipal__tarefas__categoria__cards__continer__checkin__botao {

    background: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid gray;

}

.LinhaDecorativa2 {

    height: 1px;
    width: 100%;
    background: gray;
    margin: 0px 0px 20px 0px;

}

.telaPrincipal__tarefas__categoria__cards__continer__AdicionarTarefa {


    background: transparent;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;

}

.linhaDecorativa2 {

    background: var(--corDeFundoSecundaria);
    height: 3px;
    width: 108%;
    margin: 15px 0px 10px -10px;

}

.telaPrincipal__tarefas__categoria__cards__continer__final {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px;

}

.telaPrincipal__tarefas__categoria__cards__continer__final__pessaosImg {

    width: 60px;

}

.telaPrincipal__tarefas__categoria__cards__continer__final__arquivoImg {

    width: 15px;

}

.imgDiminuir {

    width: 40px;

}