.menuProcura {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 20px 10px;
    
}

.menuProcura__caixaDePesquisa {

   
    display: flex;
  
}

.menuProcura__caixaDePesquisa__imagem {

    width: 20px;
    position: absolute;
    top: 30px;
    left: 170px;


}

.caixa__de__pesquisa__caixa {

    width: 225px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    padding-left: 35px;
    color: white;

}

.caixa__de__pesquisa__caixa:focus {

    border: 2px solid green; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão ao focar */

}

.menuProcura__lista__favoritos {

    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px

}

.menuProcura__lista__projetos__continer {

    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5px 0px 0px 0px;
   


}

.projetos__continer__margem {

    margin: 20px 0px 0px 0px;


}

.menuProcura__lista__favoritos__botao__expandir__projeto__link {

    border-radius: 5px;
    padding: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 200px;

}


.menuProcura__lista__favoritos__botao__expandir__projeto__link:hover {

    background-color: var(--corDeFundoTerciaria);
    color: blueviolet;

}

.menuProcura__lista__favoritos__botao__expandir {

    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.menuProcura__lista__projetos__botao__expandir__dois {

    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
    cursor: pointer;

}

.menuProcura__lista__projetos__continerDoProjeto {

    margin: 0px 0px 0px 25px;
    display: flex;
    align-items: end;
    border-radius: 5px;
  
   
}

.menuProcura__lista__projetos__continerDoProjeto:hover {


    color: blueviolet;

}

.menuProcura__lista__projetos__linha__decorativa__img {

    
    width: 20px;
    height: 40px;
    object-fit: contain;
    margin: 0px 0px -3px 0px;
  

}

.menuProcura__lista__projetos__projeto__link {

   font-size: 12px;
   margin: 0px 0px 0px 0px;
   white-space: nowrap; 
   overflow: hidden; 
   text-overflow: ellipsis; 
   width: 160px;
   
}


.menuProcura__lista__favoritos__botao__expandir__img {

    width: 10px;
    margin: 0px 5px 0px 0px;

}

.menuProcura__lista__favoritos__botao__expandir__projeto__link {

    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.2;

}

.menuProcura__lista__favoritos__botao__expandir__projeto__link:hover{

    opacity: 1.0;

}


.menuProcura__lista__favoritos__botao__expandir__projeto__link__iconeFavorito {

    width: 25px;
    height: 25px;
    object-fit: contain;

}


.menuProcura__lista__projetos {

    margin: 40px 0px;


}

.menuProcura__lista__projetos__botao__expandir {

    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  


}

.menuProcura__lista__projetos__botao__expandir__img {

    width: 10px;
    margin: 0px 5px 0px 0px;

}



.menuProcura__lista__arquivos {

    margin: 40px 0px;

}

.menuProcura__lista__arquivos__botao__expandir {

    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;


}

.menuProcura__lista__projetos__projeto__link:hover {

    opacity: 1.0;

}

.menuProcura__lista__projetos__projeto__link {

    opacity: 0.2;

}


.menuProcura__lista__arquivos__botao__expandir__img {

    width: 10px;
    margin: 0px 5px 0px 0px;

}

.LinkAtivo {

    color: green;
   

}

.linkAtivo {

    color: green;

}